/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORI */
:root {
    --nq-white:#fafafa;
    --light-gray: #eaeaea;
    --medium-gray: #b1b1b1;
    --dark-gray: #6b7376;
    --light-blue: #8edafc;
    --light-green: #d5f9ba;
    --light-red: #f9baba;
    --secondary-text: #8d9396;
}
/* GENERALE */
body {
    height: 100vh;
    background: #009688;
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(218,219,212,1) 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100%;
}

#container {
    margin: 0 auto;
    height: 90vh;
    width: 80%;
    max-width: 1400px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: nowrap;
}

.propic {
    margin-right: 1rem;
    width: 3rem;
    border-radius: 50%;
    display: block;
}

button{
    cursor: pointer;
}

/* TESTO */
body * {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: bold;
}

.preview-text {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-text {
    font-size: 0.9rem;
}

.smallest-text {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    line-height: 0.5rem;
}

.secondary-text {
    color: var(--secondary-text);
}

/* HEADERS */
main header,
aside header {
    background-color: var(--light-gray);
    display: flex;
    justify-content: space-between;
}

main header .active-chat-info,
aside header .user-info {
    padding: 1rem;
    display: flex;
    align-items: center;
}

main header .button-box,
aside header .button-box {
    padding-right: 1rem;
    display: flex;
}

main header .button-box button,
aside header .button-box button {
    padding: 1rem;
    background-color: transparent;
    border: none;
    color: var(--medium-gray);
    display: flex;
    align-items: center;
}

main header .button-box button:hover,
aside header .button-box button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* ASIDE */
aside {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.alert-box {
    padding: 1rem;
    background-color: var(--light-blue);
    display: flex;
}

.alert-box .alert-icon {
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: white;
    color: var(--light-blue);
    border-radius: 50%;
}

.contact-box {
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.contact-box .search-box {
    padding: 0.5rem;
    background-color: var(--nq-white);
}

.contact-box .search-box .search-container {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    display: flex;
}

.contact-box .search-box .search-container i {
    padding: 0.5rem 1rem;
    color: var(--medium-gray);
}

.contact-box .search-box .search-container input {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    flex-grow: 1;
}

.contact-box .contact-list {
    list-style: none;
    background-color: white;
    overflow-y: auto;
    flex-grow: 1;
}

.contact-box .contact-list .contact {
    padding: 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
    position: relative;
    display: flex;
}

.contact-box .contact-list .contact:hover {
    background-color: var(--nq-white)
}

.contact-box .contact-list .contact.active {
    background-color: var(--light-gray);
}

.contact-box .contact-list .contact .text-box {
    flex-grow: 1;
}

.contact-box .contact-list .contact .absolute-box {
    position: absolute;
    bottom: 0.2rem;
    right: 0.5rem;
    z-index: 20;

    display: flex;
    align-items: center;
}

.contact-box .contact-list .contact .unread {
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #009688;
}

.contact-box .contact-list .contact button {
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.contact-box .contact-list .contact:hover button {
    background-color: var(--light-green);
}

.contact-box .contact-list .contact .drop {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--nq-white);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    position: absolute;
    top: 90%;
    right: 0.5rem;
    z-index: 30;
}

.contact-box .contact-list .contact .drop > p {
    padding: 0.5rem;
}

.contact-box .contact-list .contact .drop > p:hover {
    background-color: var(--light-red);
}

/* MAIN */
main {
    height: 100%;
    width: 70%;
    border-left: 0.5px solid var(--medium-gray);
    background-image: url('../img/mine.jpg');
    background-color: var(--nq-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-box {
    padding: 2rem;
    height: 90%;
    width: 90%;
    border-bottom: 1rem solid #009688;
    background-color: var(--nq-white);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-box h2,
.welcome-box p {
    color: #009688;
}

.chat-box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.conversation-box {
    padding: 2rem;
    background-image: url('../img/mine.jpg');
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conversation-box .message {
    margin-bottom: 1rem;
    padding: 1rem;
    max-width: 80%;
    min-width: 45%;
    text-align: justify;
    border-radius: 10px;
    position: relative;
}

.conversation-box .message.sent {
    background-color: var(--light-green);
    align-self: flex-end;
}

.conversation-box .message.received {
    background-color: white;
}

.conversation-box .message .date {
    position:absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.conversation-box .message button {
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    color: var(--medium-gray);
    background-color: transparent;
    opacity: 0;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    z-index: 20;
}

.conversation-box .message:hover button {
    background-color: rgba(255 , 255, 255, 0.6);
    opacity: 1;
}

.conversation-box .message .drop {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--nq-white);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    z-index: 20;
}

.conversation-box .message .drop > p {
    padding: 0.5rem;
}

.conversation-box .message .drop:hover > p {
    background-color: var(--light-green);
}

.message-box {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
}

.message-box input {
    padding: 0.7rem;
    border: none;
    outline: none;
    flex-grow: 1;
}

.message-box button {
    padding: 1.5rem;
    margin: 0 0.5rem;
    border: none;
    color: var(--dark-gray);
    background-color: transparent;
    cursor: pointer;
}

.message-box button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}




