<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">

        <title>Vue Boolzapp</title>
    </head>
    <body>
        <div id="app">
            <div id="container">

                <aside>
                    <header>
                        <div class="user-info">
                            <img src="img/avatar_io.jpg" alt="User Propic" class="propic">
                            <span class="small-text">Sofia</span>
                        </div><!-- CHIUSURA USER INFO -->
                        <div class="button-box">
                            <button><i class="fa-solid fa-circle-notch fa-xl"></i></button>
                            <button><i class="fa-solid fa-message fa-xl"></i></button>
                            <button><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></button>
                        </div><!-- CHIUSURA BUTTON BOX -->
                    </header><!-- CHIUSURA ASIDE HEADER -->
                    <div class="alert-box">
                        <div class="alert-icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div><!-- CHIUSURA CIRCLE -->
                        <div class="text-box">
                            <p class="small-text">Ricevi notifiche di nuovi messaggi</p>
                            <p class="smallest-text">
                                <a href="#" class="secondary-text">Attiva notifiche desktop</a>
                            </p>
                        </div><!-- CHIUSURA TEXT BOX -->
                    </div><!-- CHIUSURA ALERT BOX -->
                    <div class="contact-box">
                        <div class="search-box">
                            <div class="search-container">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input @keyup="checkSearch()" v-model="searchText" type="text" placeholder="Cerca o inizia una nuova chat">
                            </div><!-- CHIUSURA SEARCH CONTAINER -->
                        </div><!-- CHIUSURA SEARCH BOX -->
                        <ul class="contact-list">
                            <li class="contact" 
                            v-for="(contact, index) in activeContacts"
                            :class="{active: active == index}"
                            @click="active = index"
                            @contextmenu.prevent="toggleVisibility(index, 'chatMenu')"
                            @mouseover="showByIndex = index" @mouseout="showByIndex = null"
                            >
                                <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="'User' + contact.avatar + ' Propic'" class="propic">
                                <div class="text-box">
                                    <p :class="{'bold': unread == index}">
                                        {{contact.name}}
                                    </p>
                                    <p class="secondary-text smallest-text preview-text" :class="{'bold': unread == index}">
                                        {{getLastMessage(contact)}}
                                    </p>
                                </div>
                                <div class="date-box">
                                    <p class="smallest-text secondary-text">{{getLastDate(contact)}}</p>
                                </div>
                                <div class="absolute-box">
                                    <div class="unread" v-if="unread == index"></div>
                                    <button
                                    v-show="showByIndex == index"
                                    @click.stop="toggleVisibility(index, 'chatMenu')"
                                    >
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </button>
                                </div>
                                <div class="drop" v-if="chatMenu == index">
                                    <p class="small-text"
                                    @click="deleteItem(contacts, index, 'chatMenu', 'unread')">
                                        Cancella chat
                                    </p>
                                    <p class="small-text"
                                    @click="toggleVisibility(index, 'unread'), chatMenu = null ">
                                        Segna come da leggere
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div><!-- CHIUSURA CONTACT BOX -->
                </aside>

                <main>
                    <div class="welcome-box" v-if="active == null">
                        <h2>Benvenuto su Boolzap</h2>
                        <p>Fai click su una chat per vedere i messaggi!</p>
                        <img src="img/Full Inbox _Flatline.png" alt="full_inbox">
                    </div>
                    <div class="chat-box" v-else>
                        <header>
                            <div class="active-chat-info">
                                <img :src="'img/avatar' + contacts[active].avatar +'.jpg'" :alt="'User' + contacts[active].avatar + 'Propic'" class="propic">
                                <div class="text-box">
                                    <p class="small-text">{{contacts[active].name}}</p>
                                    <p class="smallest-text secondary-text">Ultimo accesso alle 12:00</p>
                                </div>
                            </div><!-- CHIUSURA USER INFO -->
                            <div class="button-box">
                                <button><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
                                <button><i class="fa-solid fa-paperclip fa-xl"></i></button>
                                <button><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></button>
                            </div><!-- CHIUSURA BUTTON BOX -->
                        </header><!-- CHIUSURA MAIN HEADER -->
                        <div class="conversation-box">
                            <div class="message"
                            v-for="(message, index) in contacts[active].messages"
                            @contextmenu.prevent="toggleVisibility(index, 'dropMenu')"
                            :class="{
                                sent: message.status == 'sent',
                                received: message.status == 'received'}"
                            >
                                <p>{{message.message}}</p>
                                <span class="date secondary-text smallest-text">{{message.date.slice(11,16)}}</span>
                                <button @click="toggleVisibility(index, 'dropMenu')">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </button>
                                <div class="drop" v-if="dropMenu == index">
                                    <p class="small-text" @click="deleteItem(contacts[active].messages, index, 'dropMenu')">
                                        Cancella messaggio
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="message-box">
                            <button>
                                <i class="fa-regular fa-face-smile fa-xl"></i>
                            </button>
                            <input v-model="newMessage" @keyup.enter="sendMessage()" type="text" placeholder="Scrivi un messaggio">
                            <button>
                                <i class="fa-solid fa-microphone fa-xl"></i>
                            </button>
                        </div>
                    </div>
                </main>

            </div>
        </div>
        <!-- --------------- JS --------------- -->
        <!-- VUE --><script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- LUXON --><script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>